@font-face {
  font-family: "DaysOne";
  src: local("DaysOne"),
    url("/public/fonts/DaysOne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "DotGothic16";
  src: local("DotGothic16"),
    url("/public/fonts/DotGothic16-Regular.ttf") format("truetype");
}

body {
  color: white;
  background-color: black;
  margin: 0;
  height: 100%;
  width: 100%;
}

html {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}
